Repository geops/pysnapping: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pip-compile, pip-compile-dev-requirements

mypy:
  name: mypy
  entry: mypy
  language: python
  pass_filenames: false

pip-compile:
  name: pip-compile
  entry: pip-compile pyproject.toml
  language: python
  pass_filenames: false

pip-compile-dev-requirements:
  name: pip-compile-dev-requirements
  entry: pip-compile dev-requirements.in
  language: python
  pass_filenames: false

Fix region boundaries drifting due to numerical noise in iterative method
  pysnapping/snap.py
Due: mypy

Switch to ruff and update dependencies
  .pre-commit-config.yaml
  dev-requirements.in
  dev-requirements.txt
  pyproject.toml
  pysnapping/snap.py
  pysnapping/test/test_linear_referencing.py
  requirements.txt
  setup.cfg
Due: mypy, pip-compile, pip-compile-dev-requirements

ruff: don't select and then ignore C901
  pyproject.toml
  pysnapping/snap.py
Due: mypy, pip-compile

WIP: Prepare for new snapping method
  pyproject.toml
  pysnapping/__init__.py
  pysnapping/ordering.py
  pysnapping/snap.py
  pysnapping/test/test_ordering.py
  pysnapping/test/test_snap.py
  requirements.txt
Due: mypy, pip-compile, pip-compile-dev-requirements

Add parameters for controlling max shortest distance and sampling
  pysnapping/snap.py
Due: mypy

Refactor projecting to linestrings to make intermediate results public
  pysnapping/linear_referencing.py
Due: mypy

Revert "Refactor projecting to linestrings to make intermediate results public"
  pysnapping/linear_referencing.py
Due: mypy

Implement linestring-ball intersections in n dimensions
  pysnapping/linear_referencing.py
  pysnapping/test/test_linear_referencing.py
Due: mypy

WIP: implement DAG routing
  pyproject.toml
  pysnapping/__init__.py
  pysnapping/linear_referencing.py
  pysnapping/snap.py
  pysnapping/test/test_linear_referencing.py
  pysnapping/test/test_util.py
  pysnapping/util.py
Due: mypy, pip-compile

WIP: implement routing for backward solution
  pysnapping/snap.py
Due: mypy

Fix bool vs. numpy bool
  pysnapping/linear_referencing.py
Due: mypy

Add helper for calculating cumulative min and argmin
  pysnapping/test/test_util.py
  pysnapping/util.py
Due: mypy

Fix new snapping method
  pysnapping/__init__.py
  pysnapping/snap.py
Due: mypy

Adapt tests to new snapping method
  pysnapping/test/test_snap.py
Due: mypy

Fix logging
  pysnapping/snap.py
Due: mypy

Prepare release of v0.2.0 on pypi
  README.md
  pyproject.toml
  pysnapping/linear_referencing.py
Due: mypy, pip-compile

Add more details to error message
  pysnapping/__init__.py
  pysnapping/snap.py
Due: mypy

Use size instead of length for emtpy array check
  pysnapping/snap.py
Due: mypy

update image path to new registry IW-1358
  .gitlab-ci.yml
Due: none

Add statistics module for debugging
  README.md
  pysnapping/snap.py
  pysnapping/stats.py
Due: mypy

Add more test cases to spacing_ok test
  pysnapping/test/test_snap.py
Due: mypy

Use uv-pre-commit and update pre-commit hooks
  .pre-commit-config.yaml
  dev-requirements.txt
  pysnapping/linear_referencing.py
  pysnapping/stats.py
  requirements.txt
Due: mypy, pip-compile, pip-compile-dev-requirements

Fix distance checks
  pyproject.toml
  pysnapping/snap.py
  pysnapping/test/test_snap.py
Due: mypy, pip-compile

Update requirements
  dev-requirements.txt
  pyproject.toml
  requirements.txt
Due: pip-compile, pip-compile-dev-requirements

Adapt test
  pysnapping/test/test_snap.py
Due: mypy

Path conditions:
  mypy: any of: .*\.py$
  pip-compile: any of: pyproject\.toml|requirements\.txt
  pip-compile-dev-requirements: any of: (dev-)?requirements\.(in|txt)
